* {
  box-sizing:border-box
}

#header-nav {
  background-color: #98CC9B;
}

#logo-img {
  background: url('../images/logo_medium.png') no-repeat;
  width: 75px;
  height: 75px;
  margin: 10px 15px 10px 0;
  border-radius: 10px;
}

.navbar-brand, #collapsable-nav {
  padding-top: 25px;
}

.navbar-brand h2 { 
  font-family: 'Montserrat';
  color: #003366;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand p, #ngo-link { 
  color: #000;
  text-transform: uppercase;
  margin-top: 15px;
  font-family: 'Montserrat';
  color: black;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  text-align: center;
  color: #003366;
  font-size: 1.2em;
}

#nav-list a:hover {
  background: #E7E7E7;
}
ul .dropdown-menu {
  position: relative;
}

.navbar-header button.navbar-toggle {
  border: 2px #003366;
  clear: both;
  margin-top: -30px;
}

/* End of Header*/

.jumbotron {
  background-color: white;
  padding-bottom: 0px;
}

/*JUMBOTRON*/

/*START of Image sliding in Jumbotron*/

#img-slide {
  margin-top: 80px;
}

.image-text {
  width: 600px;
  height: 120px;
  background-color: #003366;
  position: absolute;
  top: 400px;
  right: 100px
}

.image-text > div {
  width: 550px;
  height: 60px;
  background-color: #98CC9B;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.image-text > p {
  margin: 10px 10px 10px 50px;
  color: white;
  font-family:  'Neuton', sans-serif;
  font-style: italic;
}

.image-text > div > p {
  text-align: center;
  margin-top: 0px; 
  color: white;
  font-family: 'Neuton', sans-serif;
  font-style: italic;
}

/*END of Image sliding in Jumbotron*/

/*Introduction*/

#intro > h2 {
	font-family: 'Montserrat', sans-serif;
  color: #003366;
}

#intro {
	margin: 0px 10px 0px 10px;
  padding: 10px;
}

#intro > p {
  font-family: 'Neuton', sans-serif;
  font-style: italic;
  color: black;
}
/*Introduction*/

/*latest events*/

#latest-events-title {
  margin: 10px;
  text-align: center;
  color: #003366;
  font-family: 'Montserrat', sans-serif;
}

.latest-events {
  border: 2px solid #003366;
  width: auto;
  height: auto;
  font-family: serif;
  margin: 20px;
  position: relative;
}

.latest-events > img {
  width: 100%;
  height: 100%;
}

.event-date {
  position: absolute;
  top: -1px;
  right: -1px;
  border: 1px solid black;
  padding: 10px 20px 10px;
  background-color: #003366;
  color: white;
}

.event-comment {
  position: absolute;
  bottom: 0px;
  background-color: #98CC9B;
  padding: 10px;
  opacity: 0.8;
  display: none;
  font-size: 16px;
  font-family: 'Neuton';
  color: black;
}

/*latest events*/

/*Support us*/

#support-us {
  margin: 0px 10px 0px 10px;
  padding: 10px;
}

#support-us > h2 {
	margin-bottom: 20px;
  color: #003366;
  font-family: 'Montserrat', sans-serif;
}

#support-us > p {
  font-family: 'Neuton', sans-serif;
  font-style: italic;
  color: black;
}

#support-us > p > span {
  font-size: 1.1em;

}

#donate-button {
  background-color: #003366;
  border-radius: 15px;
  border-style: solid;
  left: 40%;
  width: 300px;
  height: 50px;
  color: white;
  font-size: 2.0em;
  margin-bottom: 10px;
}

#donate-button:hover {
  background-color: #98CC9B;
  color: black;
}

/*Support us*/

/*Board-Member*/

#board-heading {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.board-image {
  margin: 20px;
  position: relative;
  height: 398px;
}

#image1 {
  background: url(http://via.placeholder.com/333x280);
  width: 333px;
  height: 280px;
}

#image2 {
  background: url(http://via.placeholder.com/318x280);
  width: 318px;
  height: 280px;
}

#image3 {
  background: url(http://via.placeholder.com/318x280);
  width: 318px;
  height: 280px;
}

.member-intro {
  position: absolute;
  border: 1px solid black;
  width: 100%;
  height: 120px;
  background-color: #98cc9a;
  bottom: 40px;
  left: -0.5px;
  text-align: center;
  color: #003366;
  text-transform: uppercase;
}

p.member-name {
  font-size: 1.8em;
}

.member-intro p {
  margin-bottom: 0px;
}

p.member-degree {
  font-size: 1.5em;
}


/*Board-Member*/

/*JUMBOTRON*/

/*FOOTER*/

footer {
	background-color: #98CC9B;
}

.footer-contact {
  width: auto;
  height: 300px;
  font-family: serif;
  margin-top: 20px;
  padding: 20px 80px 20px 80px;

}

.footer-contact > h1 {
	font-family:  'Montserrat';
	color: #003366;
	margin-bottom: 0px;
	margin-left: 20px;
	font-style: italic;
}

#contact-detail {
	padding: 10px;
	font-size: 1.8em;
	font-family: 'Neuton';
}

#around-web {
	text-align: center;
	margin: 10px;
}

#around-web > h2 {
	font-family: 'Montserrat';
	font-style: italic;
	color: #003366;
}

#around-web > div > a {
	font-size: 25px;
	padding: 10px;
	color: black;
}

#around-web > div > a:hover {
	font-size: 35px;
}

#copyright {
	text-align: center;
	margin: 20px;
	font-size: 20px;
	font-family: 'Neuton', sans-serif;
  font-style: italic;
	color: #003366;
}


/*FOOTER*/

/********** Large devices only **********/
@media (min-width: 1200px) {
  
	#nav-list {
    height: 50px;
 	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  #nav-list {
    height: 50px;
  }
  
  /* End Header */

  /*JUMBOTRON*/

  /*START of Image sliding in Jumbotron*/
  .image-text {
    width: 500px;
    height: 100px;
    background-color: #003366;
    position: absolute;
    top: 300px;
    right: 100px;
  }

  .image-text > div {
    width: 450px;
    height: 50px;
    background-color: #98CC9B;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .image-text > p {
    margin: 10px 10px 10px 50px;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
  }

  .image-text > div > p {
    text-align: center;
    margin-top: 0px; 
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
  }
  
  /*END of Image sliding in Jumbotron*/

  /*JUMBOTRON*/

/*Board-Member*/

  #image1 {
    background: url(http://via.placeholder.com/276.33x200);
    width: 276.4px;
    height: 200px;
  }

  #image2 {
    background: url(http://via.placeholder.com/261.4x200);
    width: 261.4px;
    height: 200px;
  }

  #image3 {
    background: url(http://via.placeholder.com/261.35x200);
    width: 261.35px;
    height: 200px;
  }

  .board-image {
    margin: 15px;
  }

  /*Board-Member*/

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  #nav-list {
    height: 50px;
  }

  /*JUMBOTRON*/

  /*START of Image sliding in Jumbotron*/
  .image-text {
    width: 500px;
    height: 80px;
    background-color: #003366;
    position: absolute;
    top: 250px;
    right: 80px;
  }

  .image-text > div {
    width: 470px;
    height: 45px;
    background-color: #98CC9B;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .image-text > p {
    margin: 0px 10px 10px 30px;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
  }
  .image-text > div > p {
    text-align: center;
    margin-top: 0px; 
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
  }
  /*END of Image sliding in Jumbotron*/

  /*support us*/
  
  #support-us > p {
  text-align: center;
  font-style: italic;
  color: black;
	}

	/*support us*/

  /*JUMBOTRON*/

  /*Board-Member*/

  #image1 {
    background: url(http://via.placeholder.com/235x200);
    width: 235px;
    height: 200px;
  }

  #image2 {
    background: url(http://via.placeholder.com/220x200);
    width: 220px;
    height: 200px;
  }

  #image3 {
    background: url(http://via.placeholder.com/220x200);
    width: 220px;
    height: 200px;
  }

  p.member-name {
    font-size: 1.5em;
  }

  .board-image {
    margin: 0px;
  }

  /*Board-Member*/
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

/* Header */
  
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h2 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  .navbar-brand p {
    font-size: 1.0em;
    margin-top: 12px;
  }
  
  /* End Header */

  /*JUMBOTRON*/

  /*START of Image sliding in Jumbotron*/
  .image-text {
    width: 500px;
    height: 80px;
    background-color: #003366;
    position: absolute;
    top: 200px;
    right: 50px;
  }

  .image-text > div {
    width: 450px;
    height: 45px;
    background-color: #98CC9B;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .image-text > p {
    margin: 5px 10px 10px 50px;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
  }
  .image-text > div > p {
    text-align: center; 
    margin-bottom: 5px;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
  }
  /*END of Image sliding in Jumbotron*/


  /*latest events*/
  
  .event-comment {
  font-size: 2.5vw;
  }

  /*latest events*/
  
  /*support us*/
  
  #support-us > p {
  text-align: center;
  font-style: italic;
  color: black;
  }

  /*support us*/

  /*JUMBOTRON*/

}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {

/*JUMBOTRON*/

  /*START of Image sliding in Jumbotron*/
  .image-text {
    width: 200px;
    height: 40px;
    background-color: #003366;
    position: absolute;
    top: 100px;
    right: 40px;
  }

  .image-text > div {
    width: 180px;
    height: 20px;
    background-color: #98CC9B;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .image-text > p {
    margin: 5px 10px 10px 20px;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.8vw;
  }
  .image-text > div > p {
    text-align: center;
    margin-top: 2px; 
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.8vw;
  }
  /*END of Image sliding in Jumbotron*/

  /*support us*/
  
  #support-us > p {
  text-align: center;
  font-style: italic;
  color: black;
  }

  /*support us*/

  /*JUMBOTRON*/

  /*FOOTER*/

  .footer-contact > h1 {
    margin-left: 0px;
  }

  #contact-detail {
  padding: 10px;
  font-size: 5vw;
  color: black;
  width: 160%;
  margin-left: -55px;
  }

  #map {
    width: 160%;
    margin: -50px 0px 0px -55px;
  }

  /*FOOTER*/

  /*Board-Member*/

#image1 {
  background: url(http://via.placeholder.com/355x280);
  width: 355px;
  height: 280px;
}

#image2 {
  background: url(http://via.placeholder.com/355x280);
  width: 355px;
  height: 280px;
}

#image3 {
  background: url(http://via.placeholder.com/355x280);
  width: 355px;
  height: 280px;
}

/*Board-Member*/

}

/********** Large Mobile devices only **********/
@media (max-width: 380px) {

/*Board-Member*/

#image1 {
  background: url(http://via.placeholder.com/305x280);
  width: 305px;
  height: 280px;
}

#image2 {
  background: url(http://via.placeholder.com/305x280);
  width: 305px;
  height: 280px;
}

#image3 {
  background: url(http://via.placeholder.com/305x280);
  width: 305px;
  height: 280px;
}

/*Board-Member*/

}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {

/*Board-Member*/

#image1 {
  background: url(http://via.placeholder.com/265x280);
  width: 265px;
  height: 280px;
}

#image2 {
  background: url(http://via.placeholder.com/250x280);
  width: 250px;
  height: 280px;
}

#image3 {
  background: url(http://via.placeholder.com/250x280);
  width: 250px;
  height: 280px;
}

/*Board-Member*/

}